
.banner-image{
  background-image :linear-gradient(to bottom, #463333 0%, #835858cc 100%),  url('img/background.jpg');
  background-size: cover;
  background-position: center;
}



hr.rounded {
border-top: 5px solid #bbb;
border-radius: 5px;

}

@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #ebd4d4;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #463333;
  border-right: 0.125rem solid #463333;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #ffffff;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #463333;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #463333;
}

.galeri{
  padding-top: 4.5rem;
  background-color: #ebd4d4;
}

.museum{
 background-color: #fff0f0;
 padding-top: 4.5rem;
 font-family:'PT Sans', sans-serif;

}

.petunjuk{
  /* padding-top: 4.5rem; */
  background-color: transparent;
  
}

.tentang{
  background-color:#fff0f0;
  padding-top: 4.5rem;
}
/* .navcol{
  background-color: #463333; opacity: 0.90;
  
} */

.map-responsive{
  overflow:hidden;
  padding-bottom:50%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
}

.home{
  padding-top: 5rem;
}


.inner{
  overflow: hidden;
}

.inner img{
  transition: all 1.5s ease;
}

.inner:hover img{
  transform: scale(1.5);
}

.card {
  background-color:#fff0f0;
  color: #463333;
}